[Unit]
Description="panda vpn"
After=network.target remote-fs.target nss-lookup.target
 
[Service]
Type=simple
ExecStart=/usr/bin/pandavpn && ehco $! > /tmp/pandavpn.pid
ExecStop=cat /tmp/pandavpn.pid | xargs kill
 
[Install]
WantedBy=multi-user.target